.btn-close {
    transform-origin: center;
    transition: scale .5s ease, transform .5s ease;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.btn-close:hover {
    scale: 1.5;
    transform: rotate(180deg);
}

.alerta {
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    position: absolute;
    background-color: var(--bg-danger);
    box-shadow: 5px 5px 10px #1a1a1a;
    top: 3em;
    z-index: 2;
    max-width: 90%;
    min-width: 10%;
    max-width: 90%;
}

.hidden {
    display: none;
}

.show {
    display: flex;
    animation: show_slide .5s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(-45%);
    }

    25% {
        transform: translateX(-55%);
    }

    50% {
        transform: translateX(-45%);
    }

    75% {
        transform: translateX(-55%);
    }
}