.contenedor {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.226);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s linear;
    backdrop-filter: blur(2px);
    overflow-y: auto;
}

.contenedor-show {
    visibility: visible;
    opacity: 1;
}

.centrar {
    display: flex;
    justify-content: center;
}

.modal {
    margin: 1rem auto;
    position: relative;
    top: -100%;
    box-shadow: 8px 8px 20px 0px #14141485;
    transition: top .5s ease-in-out;
    width: 50%;
}

.modal-show {
    top: 0;
}

@media screen and (max-width: 720px) {
    .modal {
        width: 95%;
    }
}